---
layout: page
title: À propos
---

<%= render CloudinaryImage.new(image_id: "geraldine-poly", height: 400, class: "sm:float-right") %>
<p>
  Irure labore incididunt excepteur cupidatat sit. Eiusmod esse in voluptate ut Lorem. Lorem dolore pariatur ipsum commodo sit duis ad est. Reprehenderit ea incididunt elit velit adipisicing excepteur non. Et ex consectetur cupidatat cillum amet ea incididunt.
</p>

<p>
  Minim mollit nulla ea anim ut ad consequat incididunt. Nulla ad in adipisicing anim aute. Adipisicing ea eu quis officia culpa ea. Mollit cillum mollit exercitation ut aliquip aute Lorem velit eu aliqua. Nostrud reprehenderit nulla sit dolor mollit ullamco quis ullamco deserunt.
</p>
