---
title: "A propos de Géraldine POLY : décoratrice, coaching décoration, consultante Feng Shui à Bordeaux"
description: |
  Présentation du parcours professionnel de Geraldine POLY et de ses services de décoration, coaching décoration et de consultante Feng Shui à Bordeaux, Pessac, Talence, Mérignac, Gradignan, Villenave d'Ornon, Cestas, Léognan, Canéjan, Saint-Médard-en-Jalles, Le Haillan, Eysines, Bruges, Le Bouscat, Blanquefort, Parempuyre, Saint-Aubin-de-Médoc, Martignas-sur-Jalle, Saint-Jean-d'Illac, Saint-Médard-d'Eyrans, Saucats, Saint-Selve
layout: default
---
<div class="prose">
  <h1 class="text-center mt-8 mb-12">Qui suis-je ?</h1>
  <!-- flex gap-8 flex-wrap md:flex-nowrap-->
  <div class="">
    <div class="mb-8 md:float-right md:w-72 md:ml-8">
      <%= render CloudinaryImage.new(image_id: "geraldine-poly", width: 400) %>
    </div>
    <div>
      <div>Géraldine POLY, décoratrice et consultante Feng Shui, je vous aide à transformer vos espaces de vie et de travail en lieux <strong>alliant bien-être et élégance.</strong></div>
      <p>Spécialisée dans la création d'espaces où <strong>confort et esthétique se conjuguent</strong>, je possède une sensibilité innée pour le choix des couleurs et au fil de ma carrière j'ai acqui une expertise approfondie des textiles, des matériaux et des <strong>harmonies de couleurs</strong>.</p>
      <p>Je propose une gamme complète de services, allant de <strong>conseils personnalisés</strong> – tels que la <strong>sélection de couleurs, de papiers peints, de matériaux</strong>, d'agencements et de systèmes d'éclairage – à la prise en charge de projets complet, incluant la <strong>transformation totale d'espaces</strong> ou la réinvention d'une pièce.</p>
    </div>
    <!-- w-full md:w-72 lg:w-full shrink-0-->
  </div>

  <div class="clear-both my-12"></div>
  <div class="">
    <h2 class="mb-4">Formation en Stylisme et Modélisme</h2>
    <div class="mb-8 md:float-right md:w-72 md:ml-8">
      <%= render CloudinaryImage.new(image_id: "costard-surf-laird-hamilton-oxbow", width: 400) %>
    </div>
    <div>
      <p>J'ai amorcé mon voyage créatif en suivant une formation en stylisme et modélisme (ESMOD). Dès mon plus jeune âge, j'ai été attirée par <strong>les tissus, les couleurs et l'univers de la mode</strong>. Ma passion m'a conduit à chiner des vêtements et à créer des looks uniques.</p>
      <p>J'ai travaillé dans un premier temps dans l'enfant puis dans <strong>le surf pour la marque Oxbow</strong>. Pour la petite histoire, une de mes créations amblématique chez Oxbow a été <strong>le costard surf de Laird Hamilton</strong> qu'il a utilisé lors du lancement du Sand Up Paddle</p>
    </div>
    <h2 class="mt-8 mb-4">Découverte de l'Univers de la Décoration</h2>
    <div>
      Mon désir d'exploration m'a ensuite conduit vers le monde de <strong>la décoration</strong>. J'ai conçu de nombreux produits, à la fois pour des clients individuels et pour des grands comptes : enseignes de grande distribution.
    </div>
  </div>

  <div class="clear-both my-12"></div>

  <h2 class="mt-8 mb-4 clear-both">Des luminaires emblématiques</h2>
  Mon parcours m'a ensuite conduit à une expérience passionnante en tant que <strong>directrice artistique de la marque Marketset</strong>. Aux côtés d'une équipe talentueuse, j'ai créer des <strong>produits devenus des best-sellers</strong>. Ces créations sont aujourd'hui fièrement présentées dans des magazines de décoration de renom, consolidant la position de la marque Marketset dans l'industrie de la décoration.

  <% lightings = [
      {
        image_id: "mks/marketset-screen-1",
        description: "Suspension Screen cannage"
      },
      {
        image_id: "mks/marketset-screen-2",
        description: "Suspension Screen cannage"
      },
      {
        image_id: "mks/marketset-screen-marie-claire",
        description: "Suspension Screen cannage dans Marie Claire Maison"
      },
      {
        image_id: "mks/mks_sonia_laudet_montage",
        description: "Suspension en collaboration avec l'artiste Sonia Laudet"
      },
      {
        image_id: "mks/singapour-1",
        description: "Luminaire Singapour Made in France"
      },
      {
        image_id: "mks/singapour-2",
        description: "Luminaire Singapour Made in France"
      }
    ]
  %>
  <section class="py-12">
    <div class="glider-contain" data-controller="carousel">
      <div data-carousel-target="slides" class="glider">
        <% lightings.each do |lighting| %>
          <div class="w-full md:px-32 flex flex-col gap-2 items-center">
            <%= render CloudinaryImage.new(image_id: lighting.dig(:image_id), loading: "lazy", shadow: true, height: 400) %>
            <div class="text-sm text-center"><%= lighting.dig(:description) %></div>
          </div>
        <% end %>
      </div>

      <button aria-label="Previous" data-carousel-target="previous" class="glider-prev !left-0 hidden md:block">«</button>
      <button aria-label="Next" data-carousel-target="next" class="glider-next !right-0 hidden md:block">»</button>
      <div data-carousel-target="dots" role="tablist" class="glider-dots"></div>
    </div>
  </section>
</div>

