---
title: "A propos de Géraldine POLY : décoratrice, coaching décoration, consultante Feng Shui à Bordeaux"
description: |
  Présentation du parcours professionnel de Geraldine POLY et de ses services de décoration, coaching décoration et de consultante Feng Shui à Bordeaux, Pessac, Talence, Mérignac, Gradignan, Villenave d'Ornon, Cestas, Léognan, Canéjan, Saint-Médard-en-Jalles, Le Haillan, Eysines, Bruges, Le Bouscat, Blanquefort, Parempuyre, Saint-Aubin-de-Médoc, Martignas-sur-Jalle, Saint-Jean-d'Illac, Saint-Médard-d'Eyrans, Saucats, Saint-Selve
layout: default
---
<div class="prose">
  <h1 class="text-center mt-8 mb-12">Qui suis-je ?</h1>
  <div class="flex gap-4 flex-wrap md:flex-nowrap">
    <div>
      <div>Géraldine POLY, décoratrice et consultante Feng Shui, je vous aide à transformer vos espaces de vie et de travail en lieux <strong>alliant bien-être et élégance.</strong></div>
      <p>Spécialisée dans la création d'espaces où <strong>confort et esthétique se conjuguent</strong>, je possède une sensibilité innée pour le choix des couleurs et au fil de ma carrière j'ai acqui une expertise approfondie des textiles, des matériaux et des <strong>harmonies de couleurs</strong>.</p>
      <p>Je propose une gamme complète de services, allant de <strong>conseils personnalisés</strong> – tels que la <strong>sélection de couleurs, de papiers peints, de matériaux</strong>, d'agencements et de systèmes d'éclairage – à la prise en charge de projets complet, incluant la <strong>transformation totale d'espaces</strong> ou la réinvention d'une pièce.</p>
    </div>
    <div class="w-full md:w-40 lg:w-full">
      <%= render CloudinaryImage.new(image_id: "geraldine-poly", width: 400) %>
    </div>
  </div>

  <% if false %>


  <div class="flex gap-4 flex-wrap md:flex-nowrap mt-8">
    <div>
      <h2 class="mb-4">Formation en Stylisme et Modélisme</h2>
      J'ai amorcé mon voyage créatif en suivant une formation en stylisme et modélisme. Dès mon plus jeune âge, j'ai été attirée par les tissus, les couleurs et l'univers de la mode. Ma passion m'a conduit à chiner des vêtements et à créer des looks uniques, même pendant mes années de lycée.
    </div>

    <div class="w-full md:w-40 lg:w-full">
      <%= render CloudinaryImage.new(image_id: "geraldine-poly", width: 400) %>
    </div>
  </div>

  <h2 class="mt-8 mb-4">Découverte de l'Univers de la Décoration</h2>
  <div class="flex items-center gap-4 flex-wrap md:flex-nowrap">
    <div class="w-full md:w-40 lg:w-full">
      <%= render CloudinaryImage.new(image_id: "costard-surf-laird-hamilton-oxbow", width: 400) %>
    </div>
    <div>
      Mon désir d'exploration m'a ensuite conduit vers le monde de la décoration. J'ai saisi l'opportunité de plonger dans cet univers captivant, où j'ai pu développer mes compétences et ma créativité. J'ai conçu de nombreux produits, à la fois pour des clients individuels et pour des enseignes de grande distribution.
    </div>
  </div>

  <h2 class="mt-8 mb-4 clear-both">Direction Artistique chez Marketset</h2>
  Mon parcours m'a ensuite conduit à une expérience passionnante en tant que directrice artistique au sein de la marque Marketset. Aux côtés d'une équipe talentueuse, j'ai contribué à créer des produits devenus des best-sellers. Ces créations sont aujourd'hui fièrement présentées dans des magazines de décoration de renom, consolidant notre position dans l'industrie.

  <h2 class="mt-8 mb-4 clear-both">Une Pause pour Prendre Soin de Moi</h2>
  Cependant, la vie m'a réservé des défis, parfois chaotiques et exigeants. J'ai dû prendre du temps pour prendre soin de moi, ce qui a nécessité une pause prolongée.

  <h2 class="mt-8 mb-4 clear-both">Entrepreneuse et Coach en Décoration Bien-Être</h2>
  Aujourd'hui, je suis de retour en tant qu’entrepreneuse.

  En tant que coach en décoration bien-être, j'ai développé un univers visant à vous aider à vous sentir bien chez vous.

  La maximisation du potentiel de vos espaces intérieurs est possible grâce à ma méthode basée sur le Feng Shui et le pouvoir des couleurs.

  <% end %>
</div>

