---
layout: default
title: "Contact Géraldine POLY : décoratrice, coaching décoration, consultante Feng Shui à Bordeaux"
description: |
  "Prise de contact avec Géraldine POLY : décoratrice, coaching décoration, consultante Feng Shui à Bordeaux, Pessac, Talence, Mérignac, Gradignan, Villenave d'Ornon, Cestas, Léognan, Canéjan, Saint-Médard-en-Jalles, Le Haillan, Eysines, Bruges, Le Bouscat, Blanquefort, Parempuyre, Saint-Aubin-de-Médoc, Martignas-sur-Jalle, Saint-Jean-d'Illac, Saint-Médard-d'Eyrans, Saucats, Saint-Selve"
---
<div class="my-12">
  <%= render "links" %>
</div>

<div class="flex flex-col items-center">
  <p class="text-center w-full md:w-1/2 mb-4 self-center">Vous pouvez me contacter via la chat ou avec ce formulaire ci-dessous. Je vous répondrai dans les plus brefs délais.</p>

  <iframe title="Formulaire de contact"
          src="https://plugins.crisp.chat/urn:crisp.im:contact-form:0/contact/fa4a0e7f-2db1-464f-98ce-d0056f168353"
          referrerpolicy="origin"
          sandbox="allow-forms allow-popups allow-scripts allow-same-origin"
          width="100%"
          height="600px"
          frameborder="0">
  </iframe>
</div>

<div class="my-12">
  <%= render "zones" %>
</div>
