---
Geraldine POLY : coach décoration, consultante Feng Shui
description: |
  Geraldine POLY est un décoratrice et consultante Feng Shui à Bordeaux. Elle propose des services de coach décoration pour des espace ou on se sent bien
permalink: /
layout: default
---

  <div class="container">

  </div>
