---
title: Joe Masilotti, the Turbo Native guy.
description: |
  I help folks launch iOS apps in the App Store with Turbo Native and Ruby on
  Rails.
permalink: /
layout: default

hide_avatar: true

---

  <div class="grid grid-cols-1 gap-y-16 lg:grid-cols-2 lg:grid-rows-[auto_1fr] lg:gap-y-12">
    <div class="lg:px-20">
      <div class="max-w-[250px] px-2.5 lg:max-w-[300px]">
        <figure>
          <img src="/images/joe.jpg" alt="Joe Masilotti" class="aspect-square sm:-rotate-3 rounded-2xl bg-zinc-100 object-cover">
          <figcaption class="sr-only">Joe Masilotti</figcaption>
        </figure>
      </div>
    </div>

    <div class="lg:row-span-2">
      <h1 class="text-4xl font-bold tracking-tight text-zinc-800 sm:text-5xl">
      <span class="block">I'm Joe Masilotti,</span> the Turbo Native guy.
    </h1>

    <p class="mt-6 text-2xl text-zinc-600 font-medium"><%= resource.data.description %></p>
  </div>
