---
Geraldine POLY: coach décoration, consultante Feng Shui
description: |
  Voici les dernières réalisations de Geraldine POLY : Coach décoration et consultante Feng Shui à Bordeaux. Rénovation complète ou simple coaching express, je propose des projets de décoration ou l'on se sent bien.
layout: default
---

<h1 class="text-center my-8">Réalisations</h1>

<p>Voici quelques exemples de projets qui illustrent mon travail.</p>

<section class="pt-12 grid grid-cols-1 md:grid-cols-2 gap-8 lg:flex-row lg:items-start lg:justify-between" id="projects">
  <% collections.projects.resources.each do |project| %>
    <span class="flex flex-col gap-4">
      <h3><%= project.data.title %></h3>
      <a href="<%= project.relative_url %>">
        <%= render CloudinaryImage.new(width: 500, height: 300, image_id: project.data.image_id, loading: "lazy", shadow: true) %>
      </a>
    </span>

<% end %>

</section>
