<footer class="container py-4 flex flex-col sm:flex-row items-center justify-between gap-2 text-sm text-dark pb-8">

  <a href="<%= relative_url '/legals' %>" class="basis-auto md:basis-1/4">Mentions légales</a>
  <%= render "links", size: 4, color: :gray %>
  <span class="basis-auto md:basis-1/4 text-right">copyright – tous droits réservés</span>
</footer>
