<footer class="container py-4 flex flex-col sm:flex-row items-center justify-between gap-2 text-sm text-gray">
  <a href="<%= relative_url '/legals' %>">Mentions légales</a>
  <span>copyright – tous droits réservés</span>
</footer>
