<h2 class="text-center text-primary mb-8">Zones d'interventions</h2>

Je propose mes services de décoration et consultante Feng Shui sur Bordeaux, la CUB et les environs (Pessac, Talence, Mérignac, Gradignan, Villenave d'Ornon, Cestas, Léognan, Canéjan, Saint-Médard-en-Jalles, Le Haillan, Eysines, Bruges, Le Bouscat, Blanquefort, Arcachon, Arès, Gujan Mestras, Parempuyre, Saint-Aubin-de-Médoc, Martignas-sur-Jalle, Saint-Jean-d'Illac, Saint-Médard-d'Eyrans, Saucats, Saint-Selve...).

Pour plus de reseignements, n'hésitez pas à me <a href="#" class="text-primary font-semibold" data-action="crisp-chat#show">contacter</a>.
